<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="Postgres" value="PORT=5432;DATABASE=Miami;HOST=10.144.215.129;PASSWORD=123;USER ID=postgres"/>
    
    <add key="TraceURLee" value="http://localhost:8765/v2/process_control"/>
    <add key="TraceURL" value="http://localhost:8765/v2/logs"/>
    <add key="StationID" value="JBGP_B03-1F-OQC01_04_TEST1"/>
    <add key="LineID" value="B03-1F-OQC01"/>
    <add key="software_name" value="DEVELOPMENT30"/>
    <add key="software_version" value="V1.0.0"/>
    <add key="PDCAIP" value="127.0.0.1"/>
    <add key="PDCAPort" value="8000"/>
    <add key="SerialType" value="fg"/>
    <add key="StationString" value="IDK"/>

    <!--删除时间间隔，数据表：WorkIn,WorkOut,TraceLog-->
    <add key="DeleteTimeInterval" value="30"/>
    <add key="DeleteHisTimeInterval" value="45"/>
    <add key="DeleteTime" value="17:00:00"/>
    
    <!--1:开启上报失败保护 ； 2：关闭上报失败保护-->
    <add key="UseProtect" value="1"/>
    <!--上报失败保护上限-->
    <add key="ProtectNum" value="3"/>
    <!--WebSocketServerIP-->
    <add key="SocketIP" value="127.0.0.1"/>
    <!--WebSocketServerPort-->
    <add key="SocketPort" value="8081"/>
    <!--1号读码头IP-->
    <add key="Reader1IP" value="192.168.1.10"/>
    <!--1号读码头Port-->
    <add key="Reader1Port" value="23"/>
    <!--2号读码头IP-->
    <add key="Reader2IP" value="192.168.1.20"/>
    <!--2号读码头Port-->
    <add key="Reader2Port" value="23"/>

    <!--机械手通讯方式; 1:IO板卡 2：Robot Interface-->
    <add key="RobotCommType" value="1"/>
    <!-- 机械手IP-->
    <add key="RobotIP" value="127.0.0.1"/>

    <!--IO板卡点位-->
    <add key="LeftScanReally" value="2"/>
    <!--左扫码到位信号-->
    <add key="LeftScanOK" value="0"/>
    <!--左扫码OK信号-->
    <add key="LeftScanNG" value="2"/>
    <!--左扫码NG信号-->
    <add key="LeftScanNoRead" value="4"/>
    <!--左扫码NoRead号-->

    <add key="RightScanReally" value="6"/>
    <!--右扫码到位信号-->
    <add key="RightScanOK" value="6"/>
    <!--左扫码OK信号-->
    <add key="RightScanNG" value="8"/>
    <!--左扫码NG信号-->
    <add key="RightScanNoRead" value="10"/>
    <!--左扫码NoRead号-->

    <!--机械手点位-->
    <add key="RobotLeftScanReally" value="30"/><!--左扫码到位信号-->
    <add key="RobotLeftScanResult" value="90"/><!--左扫码结果信号-->

    <add key="RobotRightScanReally" value="31"/><!--右扫码到位信号-->
    <add key="RoborRightScanResult" value="91"/><!--右扫码结果信号-->

  </appSettings>
  <connectionStrings>
    <add name="demoDB" connectionString="PORT=5432;DATABASE=Miami;HOST=127.0.0.1;PASSWORD=123;USER ID=postgres"/>
  </connectionStrings>
</configuration>
